/* top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg */
/* container px-4 mx-auto flex flex-wrap items-center justify-between */
/* text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="https://www.creative-tim.com/learning-lab/tailwindcss-starter-project#/presentation */


.nav1{
    top:0;
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 3px 2px 3px;
    z-index: 100;
}

.nav2{
    padding: 0px 4px 0px 4px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    /* font-size: 100px; */
}

.nav3{
    font-weight: 700;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    display: inline-block;
    margin: 10px 4px 4px 10px;
    padding: 0 2px 0px 2px;
    text-transform: uppercase; 
}


li{
    margin: 0 5px 0 0;
}

