
  <nav class="nav1">
      <div class="container nav2">
        <!-- Nav lado izq -->
          <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
              <a class="nav3">
                <!-- Titulo Nav -->
                R<sup>3</sup>
              </a>
              <!-- Menu Hamb (Mobile) -->
              
              
          </div>
        <!-- Nav Lado Der -->
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
          <!-- Social Media  -->
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#">
              <!-- Icono -->
              <i class="lg:text-gray-300 text-gray-500 fa-solid fa-house fa-2x text-lg leading-lg hello"></i>
              <span class="lg:hidden inline-block ml-2">home</span>
            </a>
          </li>
          <!-- Social Media Button -->
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#">
              <!-- Icono -->
              <i class="lg:text-gray-300 text-gray-500 fa-solid fa-truck-ramp-box fa-2x text-lg leading-lg hello"></i>
              <span class="lg:hidden inline-block ml-2">main</span>
            </a>
          </li>
          <!-- Social Media Button -->
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#">
              <!-- Icon -->
              <i class="lg:text-gray-300 text-gray-500 fa-solid fa-phone fa-2x text-lg leading-lg hello"></i>
              <span class="lg:hidden inline-block ml-2">contact</span>
            </a>
          </li>
          <li class="flex items-center">
            <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="/register">
              <!-- Icon -->
              <i class="lg:text-gray-300 text-gray-500 fa-solid fa-user-lock fa-2x text-lg leading-lg hello"></i>
              <span class="lg:hidden inline-block ml-2">Login</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>