
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/modal.css"/>
    <link rel="stylesheet" href="css/pickup.css"/>

    <title>Schedule A Pickup, NOW!</title>
  </head>
  <body>
    <div class="lobox">
      <svg viewbox="0 0 89 106" fill="#013F59" xmlns="http://www.w3.org/2000/svg">
        <path id="logo" d="M51 2H2V26C2 26 37.5 24.5 46.5 26C55.5 27.5 56 33 56 37C56 41 52.5504 47.0249 46.5 47H30V66H33.5L53.5 103.5H85L62.5 63.5C78.5976 56.9167 86.5 48.5 84 28.5C81.5 8.5 56 1.99999 51 2Z" stroke="#013F59" stroke-width="4"/>
      </svg>
    </div>

    <h1>Schedule a Pickup</h1>
    <p>Send a pickup request now, and we will be there for you!</p>
    <form class="schedule-pickup-form" action="/pickup" method="POST">
      <h2>Personal Details</h2>
      <label for="">Name</label><br/>
      <input class="name" type="text" name="name" placeholder="Your Name" required="required"/><br/>
      <label for="">Email</label><br/>
      <input class="email" type="email" name="email" placeholder="Your Email" required="required"/><br/>
      <label for="">Phone Number</label><br/>
      <input class="phone" type="text" name="tel" placeholder="Your Phone number" required="required"/><br/>

      <h2>Pickup Details</h2>
      <label for="">Date for pickup</label><br/>
      <input class="date_pickup" name="date" type="date" required="required"/><br/>
      <label for="">Estimated Time pickup</label><br/>
      <input class="time_pickup" name="time" type="time" min="09:00" max="20:00" required="required"/><br/>
      <label for="">Address for Pickup</label><br/>
      <textarea class="address_pickup" name="add" id="" cols="30" rows="3" placeholder="Your Address" required="required"></textarea><br/>
      <label for="">Anything more specific you'd want us to know?</label><br/>
      <textarea class="extra_notes" name="extra" id="" cols="30" rows="3" placeholder="Any details?" required="required"></textarea><br/>

      <h3>Recyclable Waste Details</h3>
      <label for="">Type of waste:
      </label><br/>
      <select name="typewst" input="input" class="waste_type" required="required">
        <option value="" disabled="disabled" selected="selected">Please select the type of waste majorly</option>
        <option value="paper">Paper (includes: old newspapers, magazines, used books, beverage & product cardboard cartons etc) + other stuff</option>
        <option value="Plastic">Plastic (includes: plastic bottles of all types, styrofoam products etc) + other stuff</option>
        <option value="Metal">Metal (includes: old utensils, cola cans, old metal parts of components etc) + other stuff</option>

      </select>

      <label for="">Estimate Quantity of waste:
      </label><br/>
      <select name="approxwt" input="input" class="quantity" required="required">
        <option value="" disabled="disabled" selected="selected">Please select an estimate range</option>
        <option value="1-5 kgs">1 - 5 kilograms</option>
        <option value="5-10 kgs">5 - 10 kilograms</option>
        <option value="above 10 kgs">Above 10 kilograms</option>

      </select>

      <button type="submit" value="Submit" id="pickup" onclick="myFunction()">Submit</button>
      
      </form>
      <h4>*Please note that while we assure our services to be in accordance with the above pickup time and pickup date provided by you, it however doesn't guarantee it. Pickup of your waste is subject to availability of our resources. Minimum delay of a
        day can be expected & you will be notified in advance by call.</h4>

    
    <!--<script> function myFunction() { var empt = document.forms["schedule-pickup-form"]["name"]["email"]["phone"].value; if (empt != "") { alert("Thank you for availing our services, you will be redirected to our homepage now."); window.location.href
    = "index.html"; } else { alert("It seems that you have not entered all the details. Please do so for successfull submission"); } } </script>-->

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h6>👆Error, please fill this field.</h6>
        </div>
        <div class="modal-body">
          <p>If you didn't recieve any error, be rest assure your form is submitted.
          </p>
          <p>Thank you, for availing our services.</p>
        </div>
        <div class="modal-footer">
          <h5>
            <a href="index.html" class="button">Back to our main website</a>
          </h5>

        </div>
      </div>

    </div>
    

   

  </body> 
</html>
